.DS_Store
.env
.idea
.vscode
/build
/node_modules
/vendor
*.log
*.swp
*.bak
*.old
README.md
LICENSE
SECURITY.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CHANGES_LOG.txt
TODO_DEVNET.md
C:Usersdecrigitclonespawdockerdocker-compose.yml
C:Usersdecrigitclonespawk8snamespace.yaml
*.ps1
.commitlintrc.json
.editorconfig
.eslintrc.json
.golangci.yml
.pre-commit-config.yaml
.prettierrc.json
.pylintrc
.secrets.baseline
gosec-report.json
list.json
pyproject.toml
requirements-dev.txt
RUN-TESTS-LOCALLY.md
SECURITY.md
setup-paw-project.sh
sonar-project.properties
tests/
testutil/
simapp/
scripts/
playground/
monitoring/
k8s/
infra/
faucet/
examples/
explorer/
docs/
docker/
dashboards/
config/
certs/
bin/
api/
app/
x/
proto/
p2p/
wallet/
status/
testing-dashboard/
.security/
*.exe
*.test
coverage.txt
coverage.html
*.out