version: '3.8'

services:
  node1:
    image: golang:1.25
    container_name: paw-node1
    working_dir: /paw
    volumes:
      - ./:/paw
      - node1_data:/root/.paw
    command: ['bash', '-c', 'cd /paw && go build -o /usr/local/bin/pawd ./cmd/pawd && ./scripts/devnet/init_node.sh node1 26657 9090 1317']
    ports:
      - '26657:26657'
      - '9090:9090'
      - '1317:1317'

  node2:
    image: golang:1.25
    container_name: paw-node2
    working_dir: /paw
    volumes:
      - ./:/paw
      - node2_data:/root/.paw
    command: ['bash', '-c', 'cd /paw && go build -o /usr/local/bin/pawd ./cmd/pawd && ./scripts/devnet/init_node.sh node2 26667 9091 1327']
    ports:
      - '26667:26657'
      - '9091:9090'
      - '1327:1317'

volumes:
  node1_data:
  node2_data:
