# PAW testnet runbook environment
RUN_ID=
CHAIN_ID=paw-mvp-1
RPC_URL=https://testnet-rpc.poaiw.org
REST_URL=https://testnet-api.poaiw.org
GRAPHQL_URL=https://testnet-api.poaiw.org/graphql
RPC_WS_URL=
ARCHIVE_RPC_URL=
FAUCET_URL=https://testnet-faucet.poaiw.org/faucet
DENOM=upaw
BIN=pawd
HOME_DIR=$HOME/.paw
KEY_NAME=runbook-paw
KEY_NAME_DST=runbook-paw-dst
SEND_AMOUNT=1
FEE_AMOUNT=500
OUT_DIR=./out
